@import './normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
body {
  overflow-y: hidden;
}

.about-container {
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  justify-self: center;
  height: 100vh;
  margin: 0px 192px 0px 192px;

  .header {
    display: flex;
    width: 100%;
    max-height: 10.4%;
    min-height: 10.4%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 0px 0px rgba(72, 72, 72, 0.232);

    .logo {
      width: 137px;
      height: calc(72px - 1.5%);
      margin-left: 7.6%;
      padding-bottom: 0.7%;
      font-family: 'Poppins', sans-serif;
      font-size: 38px;
      font-weight: bold;
      color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .navigation {
      display: flex;
      align-items: center;
      width: 370px;
      height: 36px;
      padding-bottom: 0.8%;
      padding-right: 2.5%;
      .link {
        color: #474747;
        font-family: 'Poppins', sans-serif;
        font-size: 19px;
        font-weight: 500;
        filter: drop-shadow(0);
      }

      .link:active {
        color: #000;
      }

      .link:active {
        color: #000;
        text-decoration: underline;
      }

      #about {
        margin: 0 24px 0 24px;
      }
    }
  }

  .nav-line {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0px 30px 0px;
    width: 170px;
    height: fit-content;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-left: 8.5%;
    .startseite {
      color: #667085;
    }

    .nav-arrow {
      color: #667085;
      font-weight: bold;
    }

    .current {
      font-weight: bold;
      color: #204497;
    }
  }
}
